################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/01_HelloWorld/bin/Debug/net10.0
/01_HelloWorld/obj
